# Server
PORT=3000
NODE_ENV=development

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=

# Meta WhatsApp Business API
META_ACCESS_TOKEN=
META_PHONE_NUMBER_ID=
META_WHATSAPP_TEMPLATE_NAME=juxtravel_otp

# JWT
JWT_SECRET=
